@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.sec-flex {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.padding {
  padding: calc(1rem + 8vh) calc(1rem + 8vw);
}

.paddingLogin {
  padding: calc(1rem + 5vh) calc(1rem + 5vw);
  background:
    url("./assets/authentication/errorpage.svg"),rgb(70 68 68 / 11%);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.back {
    background:
        url("./assets/authentication/errorpage.svg");
          background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
}

.containergrid {
  display: grid;
  grid-template-columns: [container-start] repeat(
      12,
      minmax(min-content, 12.5rem)
    );
  justify-content: center;
}

.overall-layout {
  grid-column: container-start/container-end;
}

.googleContainer {
  border: 1px solid #bbbbc3;
  border-radius: 10px;
  background-color: white;
  transition: all 0.4s ease-in-out;
}

.googleContainer:hover {
  background-color: blue;
  color: white;
}

.divider {
    text-align: center;
        border-bottom: 1px solid #d9dedc;
        line-height: 0.1em;
        margin: 10px 0 20px;
}

.bg {
    background: radial-gradient(103.02% 103.02% at 50% 0%,
            rgba(255, 255, 255, 0.65) 0%,
            rgba(255, 255, 255, 0.67) 100%);
}

@media (max-width : 1000px) {
   .none {
    display: none;
   }

   .full {
    width: 100%;
   }
}

.loading {
  height: 50px;
  width: 50px;
  padding: 7px;
  border: 2px solid yellow;
  border-right-color: white;
  border-left-color: red;
  border-bottom-color: purple;
  border-radius: 22px;
  animation: rotate 1s infinite linear;
}

.center {
  display: block;
  margin: 0 auto;
}

@keyframes rotate {
  0% {
    border-right-color: green;
  border-left-color: white;
  border-bottom-color: green;
    border: 2px solid green;
    transform: rotate(-360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.posts {
  margin: 3rem auto;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
  padding: 1rem;
  background : red;
}
